*{
  box-sizing: border-box;
  font-size: 12px;
}
///nav START

nav{
position: fixed;
display: flex;
justify-content: space-between;
width: 100%;
background-color: #fff;
height: 100px;
border-bottom: 1px solid grey;
z-index: 111;
  img{
    height: 60px;
    width: 275px;
    float: left;
    margin-left: 50px;
    margin-top: 15px;
  }
  ul{
    font-size: 1.7rem;
    float: right;
    margin-right: 20px;
    margin-top: 30px;
    display: inline-block;
    li{
      float: left;
      margin-left: 15px;
      &:hover{
        a{
          cursor: pointer;
        text-decoration: none;
        color:#DBA371;
      }
      }
      a{
        font-weight: 500;
        color: #000;
      }
      span{
        color: #DBA371;
      }
    }
  }
}


//NAV STOP
////   HEADER START

header{
  width: 100%;
  height: auto;
  .header-logo{
    float: left;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    height: 47px;
    width: 217px;
  }
}


  .header-buttons{
    float: right;
    margin-right: 40px;
    margin-top: 10px;
    .header-buttons-all{
    height: 37px;
    font-weight: 600;
    border: none;
    height: 49px;
    border-radius: 4px;
    font-size: 1.7rem;
    width: 220px;
  }
    .header-btn-left{
      background-color: #95C11F;
      color: #fff;
      &:hover{
      background-color: #DBA371;
      }
    }
    .header-btn-right{
      background-color: #DBA371;
      color: #fff;
      &:hover{
      background-color: #95C11F;
      }
     }
}
////   HEADER STOP


////   SECTION SERACH START

#serach{
  color: #706F6F;
  margin-top: 200px;
  min-height: 200px;
  .col-lg-12{
    text-align: center;
    p{
      display: inline-block;
    }
    span{
      margin-left: 10px;
      margin-top: 10px;
    }
  }
  h2{
    text-align: center;
    color: #706F6F;
    font-weight: 400;
  }

    input{
      font-size: 1.9rem;
      font-weight: bold;
      border: 1px solid #DBA371 !important;
      padding-left: 5px;
      width: 100%;
      height: 45px;
      border: none;
      border-radius: 4px;

    }
    select{
      font-size: 1.9rem;
      font-weight: bold;
      border: 1px solid #DBA371 !important;
      width: 100%;
      height: 45px;
      border: none;
      border-radius: 4px;
      background-color: #fff;
      option{
        font-size: 1.9rem;
      }

    }
    button{
      font-size: 1.9rem;
      font-weight: bold;
      width: 100%;
      height: 45px;
      background-color: #DBA371;
      color: #fff;
      border: none;
      border-radius: 4px;
    }
  }

////   SECTION SERACH STOP


////   SECTION IMAGES START

#images{
  height: 300px;
  width: 100%;
  .images-left{
    background-image: url("../images/left.jpg");
    background-repeat: no-repeat;
    float: left;
    height: 300px;
    width: 280px;
  }
  .images-right{
    background-image: url("../images/right.jpg");
    background-repeat: no-repeat;
    float: right;
    height: 300px;
    width: 280px;
  }
}

////   SECTION IMAGES STOP


////   SECTION TEXT START
#text{
  margin-top: 100px;
  text-align: center;
  font-size: 1.8rem;
  color: #706F6F;
  padding: 20px;
  h3{
    padding: 10px;
    font-weight: 700;
  }
  h4{
    font-weight: 500;
    font-size: 2rem;
  }
  strong{
    font-size: 2rem;
  }
  p{
    padding: 5px;
  }
}
////   SECTION TEXT STOP


////   SECTION PRODUCTS START
#products{
  color:#706F6F;
  .products-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    height: 170px;
    &:hover{
      color:#DBA371;
    }
    p{
      font-weight: 700;
    }
  }
}

////   SECTION PRODUCTS STOP


////   SECTION TEXT-2 START

#text-2{
  margin-top: 100px;
  text-align: center;
  font-size: 1.6rem;
  color: #706F6F;
  padding: 20px;
}
////   SECTION TEXT-2 STOP




////   SECTION AD START

#ad{
  p{
    color:#DBA371;
    font-size: 2rem;
    font-weight: 700;
  }
  button{
    background: #95C11F;
    border-radius: 4px;
    border:none;
    color: #fff;
    font-weight: 700;
    width: 50px;
  }
  table{
    width: 90%;
    tr{
      margin: 10px;
      td{
        padding: 10px;
        font-size: 1.7rem;
        img{
          width: 350px;
          height: 170px;
        }
      }
    }
  }
}


////   SECTION AD STOP

////   SECTION NEWS START
#news{
  p{
    color:#DBA371;
    font-size: 2rem;
    font-weight: 700;
  }
  button{
    background: #95C11F;
    border-radius: 4px;
    border:none;
    color: #fff;
    font-weight: 700;
    width: 50px;
  }
  table{
    width: 90%;
    tr{
      margin: 10px;
      td{
        padding: 10px;
        font-size: 1.7rem;
        img{
          width: 350px;
          height: 170px;
        }
      }
    }
  }
}
////   SECTION NEWS STOP



////   SECTION how its works START

#how-its-work{
  text-align: center;
  color: #706F6F;
  font-size: 1.7rem;
  h3{
    color: #DBA371;
    font-weight: 700;
    font-size: 2.2em;
  }
  h4{
    font-weight: 600;
    font-size: 1.9rem;
  }
  .row{
    img{
      margin: 10px;
    }
    p{
      font-size: 2.4rem;
    }
  }
}
  #backCorn{
    .slider{
    width:100%;
    height: 200px;
    background-color: rgba(0,0,0,0.2 );
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    .circle{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-image: url("../images/combain.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
    .comment{
      margin-top: 15px;
      p{
      font-size: 2rem;
      color:#706F6F;
      text-align: center;
    }
  }
}

footer{
  margin-top: 30px;
  padding: 20px;
  font-size: 1.9rem;
  color:#706F6F;
  border-top: 1px solid #706F6F;
  ul{
    display: inline-block;
    font-size: 1.6rem;
    li{
      float: left;
      padding-left: 10px;
      a{
        color: #706F6F;
      }
    }
  }
  p{
    font-size: 1.5rem;
  }
  input{
    width: 100%;
    height: 40px;
    font-size: 1.7rem;
    border:1px solid #DBA371;
    border-radius: 4px;
  }
  button{
    margin-top: 10px;
    font-size: 2.5rem;
    height: 40px;
    width: 100%;
    background-color: #DBA371;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  .foot-icon{
    display: inline-block;
    float: right;
    padding: 15px;
    font-size: 3rem;
    li{
      float: left;
      &:hover{
        opacity: 0.7;
      }
    }
  }
}






////   SECTION how its works STOP
